# Platform-specific files that can be regenerated with "flutter create".
android
ios
linux
macos
test

# Generated Protocol Buffer support code.
registry/lib/src/generated

# Generated build timestamp.
viewer/lib/build.dart

# Copied assets staged for web deployment.
site/public
site/public.tgz

# Dart build artifacts
pubspec.lock
.dart_tool
.packages

# Compiled "reg" tool
apps/reg/reg
