# Platform-specific files that can be regenerated with "flutter create".
android
ios
linux
macos
test

# Generated Protocol Buffer support code.
registry/lib/generated

# Generated build timestamp.
registry/lib/build.dart

# Copied assets staged for web deployment.
site/public
